<div id="frameBar">
    <div id="frameResizableTop" class="frameDragPadder"></div>
    <div id="frameMain">
        <div class="frameResizableVert frameDragPadder"></div>
        <div class="frameResizableVert frameDragPadder"></div>
    </div>
</div>